## Sets

sets can only show 1 of each value, each value is unique
-   they can be set up with set() or {}
-   sets cannot contain lists or dictionarie
-   sets can contain tuples

In [1]:
set("hello")

# using set function splits into each character so it should be iterable

{'e', 'h', 'l', 'o'}

In [4]:
# if youre going to create a set using curved brackets, the setup is different from dictionaries


{"hello","hello", "hi"}

{'hello', 'hi'}

In [5]:
print(set("techpro education"))

{' ', 'o', 'h', 'd', 'c', 'p', 'n', 'u', 't', 'e', 'r', 'a', 'i'}

since there is no order of the return, sets can not be indexed to retrieve something

In [6]:
[1,1,1,2,2,5,5,4,3,5,6,8,9,7,5,43,4,2,4,5,2,34,23,4524]
set([1,1,1,2,2,5,5,4,3,5,6,8,9,7,5,43,4,2,4,5,2,34,23,4524])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 23, 34, 43, 4524}

In [7]:
alfabe = "a b c d e f g h".split()
alfabe

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [9]:
print(set(alfabe))

{'b', 'g', 'h', 'd', 'c', 'f', 'e', 'a'}

In [10]:
# sets do not discriminate floats and integers as long as they are the same value
# it will return the first one seen read from left to right

set([1,2.0,3,1.0,2])

{1, 2.0, 3}

In [12]:
# booleans are True = 1 and False = 0 so it sees the True and False first based on what we wrote

{True, False, 1, 0, 2,3}

{False, True, 2, 3}

### Union, Intersection, and Difference

-   Unions are the whole contents of each set combined, so in this example a + b
-   intersections are the similar contents of both of them, what they both have that are the same (center of venn diag)
-   Difference is the difference of b-a or the difference of a-b, there are 2 differences in this case

In [13]:
a = set("malatya")
a

{'a', 'l', 'm', 't', 'y'}

In [14]:
b = set("kayisi")
b

{'a', 'i', 'k', 's', 'y'}

### difference()
### -

In [19]:
# shows what is in set a but not in set b

a - b

{'l', 'm', 't'}

In [20]:
# shows what is in set a but not in set b

a.difference(b)

{'l', 'm', 't'}

In [21]:
# shows what is in set b but not in set a


b - a

{'i', 'k', 's'}

In [22]:
# shows what is in set b but not in set a


b.difference(a)

{'i', 'k', 's'}

### intersection()
### &

In [23]:
# shows which contents are exactly the same for both sets


a & b

{'a', 'y'}

In [24]:
# shows which contents are exactly the same for both sets


b & a

{'a', 'y'}

In [25]:
# shows which contents are exactly the same for both sets


a.intersection(b)

{'a', 'y'}

In [26]:
# shows which contents are exactly the same for both sets


b.intersection(a)

{'a', 'y'}

### union()
### |

In [34]:
# unions show both sets as one, so basically interestion and the 2 differences
# imagine a venn diagram, it writes the left side middle side and right side as one set

a | b

{'a', 'i', 'k', 'l', 'm', 's', 't', 'y'}

In [28]:
b | a

{'a', 'i', 'k', 'l', 'm', 's', 't', 'y'}

In [29]:
a.union(b)

{'a', 'i', 'k', 'l', 'm', 's', 't', 'y'}

In [32]:
b.union(a)

{'a', 'i', 'k', 'l', 'm', 's', 't', 'y'}

lets say we want to get only both of their differences without their similaritys

In [35]:
# we can do something like this

a-b | b-a

{'i', 'k', 'l', 'm', 's', 't'}

In [36]:
# or we can do something like
(a|b) - (a&b)

{'i', 'k', 'l', 'm', 's', 't'}

or the actual method for it

In [38]:


a.symmetric_difference(b)

{'i', 'k', 'l', 'm', 's', 't'}

In [39]:
# a difference_update completely changes the difference that was given into the set
# assigns the difference of a - b into set a itself

a.difference_update(b)

In [40]:
a

{'l', 'm', 't'}

In [42]:
a & b

# this is now empty due to set 5 changing into only l,m,t

set()

In [44]:
# however union is still the same because it is all of them combined

a | b

{'a', 'i', 'k', 'l', 'm', 's', 't', 'y'}

In [45]:
a.update(b)

In [46]:
a

{'a', 'i', 'k', 'l', 'm', 's', 't', 'y'}

In [47]:
c = set("armut")

In [50]:
# you can compare many sets together


a | b | c

{'a', 'i', 'k', 'l', 'm', 'r', 's', 't', 'u', 'y'}

In [49]:
a & b & c

{'a'}

In [52]:
a - b - c

{'l'}

### clear()

clear function clears the set

In [53]:
a

{'a', 'i', 'k', 'l', 'm', 's', 't', 'y'}

In [54]:
a.clear()

In [55]:
a

set()

### remove()

remove function removes the defined value

In [56]:
b

{'a', 'i', 'k', 's', 'y'}

In [58]:
b.remove("k")

In [59]:
b

{'a', 'i', 's', 'y'}

In [62]:
b.remove("y" and "a")

In [63]:
b

{'i', 's'}

### discard()

discard function does the same exact thing as remove, however it still runs without error if value defined is not even in the set

In [75]:
d = set("apple")

In [76]:
d

{'a', 'e', 'l', 'p'}

In [78]:
d.discard("e")
d

{'a', 'l', 'p'}

In [79]:
d.discard("z")
d

{'a', 'l', 'p'}

### pop()

pop function by default removes a value from the set and returns it to you (at random)

In [64]:
c

{'a', 'm', 'r', 't', 'u'}

In [65]:
c.pop()

'm'

### add()

adds defined value into set, no matter how much you run it will only add it until there is max 1 of that value

In [66]:
c

{'a', 'r', 't', 'u'}

In [70]:
# you can only add 1 at a time


c.add("b")

In [69]:
c

{'a', 'b', 'r', 't', 'u'}

In [71]:
c.add(("b", "a" ))

In [72]:
c

{('b', 'a'), 'a', 'b', 'r', 't', 'u'}

### issubset()

True or False if a set is a subset of another set

In [80]:
e = set("selin")
f = set("enes")

In [82]:
print(e)
print(f)

{'s', 'n', 'l', 'e', 'i'}
{'e', 'n', 's'}

In [83]:
f.issubset(e)

True

In [84]:
e.issubset(f)

False