Markdowns are to take notes
I can also use a hashtag # during a code to take a note

In [6]:
Print("Hello World") # It gives an error because python functions are case sensitive

NameError: name 'Print' is not defined

In [7]:
print("a line has to start and end with the same double tirnaks')

SyntaxError: unterminated string literal (detected at line 1) (1651926143.py, line 1)

In [8]:
print('we can also use a single apostrophe to get rid of the syntax')

we can also use a single apostrophe to get rid of the syntax

In [10]:
print('I'm a python learner') # this gives an error due to the ' between the I am conjunction

SyntaxError: invalid syntax. Perhaps you forgot a comma? (405697246.py, line 1)

In [11]:
print("I'm a python learner") # this would be the correct verison

I'm a python learner

In [2]:
print("""Hello my name is mahmooooodie""") # three quote marks also works

Hello my name is mahmooooodie

In [4]:
print('''Hello my name is mahmooooodie''') # see it works like this as well with 3 apostrophes

Hello my name is mahmooooodie

In [5]:
print(""Hello my name is mahmud"") # it will not work with 2 quote marks or 2 apostrophes

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2159336246.py, line 1)

make sure to be consistent with the apostrophes and quote marks
- either single on each side
- or triple on each side

If you want to print in multiple lines with 1 print code, you should use 3 tirnaks or else you will run into an error.
Correct and incorrect form is shown below

In [6]:
print("lets have 3 lines of text with 1 print
      this could be line 2
      and this could be line 3") # we will run into a syntax like this

SyntaxError: unterminated string literal (detected at line 1) (1009002079.py, line 1)

In [9]:
print("""lets have 3 lines of text with 1 print 
this could be line 2
and this could be line 3""") # this works because we used 3 tirnaks

lets have 3 lines of text with 1 print
this could be line 2
and this could be line 3

# Pep 8 Rules

using a number of "#" changes font size in markdown.
for example 1 # makes it big
and ##### makes it small

###### small

# BIG

one rule of pep 8 is to leave spaces between operations
3 + 5 is correct
3+5 is incorrect

another rule is to not have more than 79 characters on one line of code

when adding different variables consisting of same name, name them like this, name_1, name_2, name_3...

variables can not start with a number
so it can not be 2name, it should be name_2

other people should be able to see what youre referring to in your variable names

## Variables

In [10]:
name = "mahmud"

In [11]:
age = 22

In [13]:
pi_number = 3.14

In [14]:
print(name)

mahmud

In [15]:
print(age)

22

In [16]:
print(pi_number)

3.14

In [20]:
name2 = "nese" # against pep 8 rules because it should be name_2

In [19]:
print(name2)  # against pep 8 rules because it should be name_2

nese

In [23]:
name_4 = "nur"

In [24]:
print(name_4)

nur

In [25]:
first_name = "mahmud"
last_name = "apaydin"

In [26]:
name_5, name_6 = "bobby" , "Shmurda"

In [27]:
print(name_5)
print(name_6)

bobby
Shmurda

In [28]:
print(name_5, name_6)

bobby Shmurda

In [35]:
friend_1 = "Emre"
friend_2 = "Said"
print("Hello")
print(friend_1)
print("and")
print(friend_2)

Hello
Emre
and
Said