# Dictionaries

written as:
-   dict()
or
-   {}

Dictionaries are used to store data values in key:value pairs. which are then seperated by commas

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [1]:
dict_1 = {"key1" : "value1", "key2" : "value2", "key3" : "value2"}
dict_1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value2'}

you can see all items using .items()

In [2]:
dict_1.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value2')])

you can see keys by using .keys()

In [3]:
dict_1.keys()

dict_keys(['key1', 'key2', 'key3'])

you can see the values using .values()

In [4]:
dict_1.values()

dict_values(['value1', 'value2', 'value2'])

to index dictionaries, we cant use brackets, but we can define which key we want to see referenced value

In [6]:
dict_1["key1"]

'value1'

In [7]:
dict_2 = {1: "one", 2: "two", 3: "three"}
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [9]:
dict_2[1] # the 1 is not an index number, it is returning key 1's value which is "one"

'one'

### Creating Keys

dictionary keys can also be formed with boolean values and floats

In [10]:
dict_3 = {False: 1, True:2}
dict_3

{False: 1, True: 2}

lists and other dictionaries CANNOT  be a key inside a dictionary

tuples can be used as keys inside a dictionary

In [11]:
dict_4 = {(1,2,3): "tuple_1"}
dict_4

{(1, 2, 3): 'tuple_1'}

a list can be used as a value inside a dictionary

In [12]:
dict_5 = {"student":["mahmud", 22, "DS"]}
dict_5

{'student': ['mahmud', 22, 'DS']}

values on the other hand can be anything

when using a dict() function to creat dictionaries, instead of semicolon to split the key value pair, we just use an equal sign.

using a dict() function does not let you use integers in its keys

In [14]:
# i didnt write the one and two as strings but it converted to a string
# example being

dict(one = 1, two = 2, three = 3)

{'one': 1, 'two': 2, 'three': 3}

In [15]:
dict_friend = {"friend1":"omer", "friend2": "emre", "friend3":"muhammed"}
dict_friend

{'friend1': 'omer', 'friend2': 'emre', 'friend3': 'muhammed'}

In [16]:
dict(friend1 = "omer", friend2 = "emre", friend3 = "muhammed")

{'friend1': 'omer', 'friend2': 'emre', 'friend3': 'muhammed'}

see how the abive two examples gave the same results ^^^^

In [18]:
# dictionaries are mutable,
# see how I added friend 4 key and Said value


dict_friend["friend4"] = "said"
dict_friend

{'friend1': 'omer',
 'friend2': 'emre',
 'friend3': 'muhammed',
 'friend4': 'said'}

In [20]:
# here I was able to change existing friend1 from "omer" to "mudo"


dict_friend["friend1"] = "mudo"
dict_friend

{'friend1': 'mudo',
 'friend2': 'emre',
 'friend3': 'muhammed',
 'friend4': 'said'}

YOU CANNOT HAVE TWO OF THE SAME KEYS OR ELSE DATA WILL GET MESSED UP

YOU CAN HAVE MORE THAN ONE VALUE THOUGH

In [21]:
# since you can have lists in values you can do something like this

personal = {"name": ["mahmud", "talha", "apaydin"], "age" : [21,22,24]}
personal

{'name': ['mahmud', 'talha', 'apaydin'], 'age': [21, 22, 24]}

In [23]:
# using items() method gives it as a list with key:value pairs as tuples

personal.items()

dict_items([('name', ['mahmud', 'talha', 'apaydin']), ('age', [21, 22, 24])])

In [24]:
personal.keys()

dict_keys(['name', 'age'])

In [25]:
personal.values()

dict_values([['mahmud', 'talha', 'apaydin'], [21, 22, 24]])

In [28]:
# we can call a specific key like this like an index
# it is returned as a list so we can still use list methods such as .append .extend falan felan

personal["name"]

['mahmud', 'talha', 'apaydin']

In [29]:
# now we can add something to this name list as it is a value pair to a key

personal["name"].append("mahmoodie")

In [30]:
personal

{'name': ['mahmud', 'talha', 'apaydin', 'mahmoodie'], 'age': [21, 22, 24]}

In [45]:
numbers = {"odd numbers": [], "even numbers": []}

In [44]:
# we can fill in the brackets manually

numbers["odd numbers"].extend([1,3,5,7,9])
numbers["even numbers"].extend([2,4,6,8,10])
numbers

{'odd numbers': [1, 3, 5, 7, 9], 'even numbers': [2, 4, 6, 8, 10]}

In [46]:
# its def way better like this
# or we can fill it using a list and range

numbers["odd numbers"] = list(range(1,10,2))
numbers["even numbers"] = list(range(0,11,2))
numbers

{'odd numbers': [1, 3, 5, 7, 9], 'even numbers': [0, 2, 4, 6, 8, 10]}

### update()

update function adds a key: value pair directly as you type it in the brackets
-   you have to do it like this .update({x : y})
-   it isnt limited to one update, you can keep updating in one line
example: .update({x: y, a: b})

In [47]:
dict_4 = {1:"one", 2: "two", 3: "three"}
dict_4

{1: 'one', 2: 'two', 3: 'three'}

In [48]:
dict_4[4] = "four"

In [49]:
dict_4

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [51]:
dict_4.update({5:"five"})
dict_4

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [52]:
dict_4.update({6 : "six", 7 : "seven"})
dict_4

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven'}

### clear()

clear function clears the contents of the dictionary

In [53]:
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [54]:
dict_2.clear()

In [55]:
dict_2

{}

### pop()

you write the key inside the paranthesis, and it removes the key:value pair, and returns the value

In [56]:
dict_4.pop(7)

'seven'

In [57]:
dict_4

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

### get()

get() function returns a value when a key is entered, like an index

In [58]:
dict_4.get(3)

'three'

In [59]:
# you cannot add dictionaries

{2: "two"} + {3: "three"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### Nested Dictionaries

In [62]:
# in this nested dictionary, the keys are person1,person2, person3, but the values are dictionaries again


myfamily = {
  "person1" : {
    "name" : "Nese",
    "year" : 2006
  },
  "person2" : {
    "name" : "Mahmud",
    "year" : 2001
  },
  "person3" : {
    "name" : "Ozde",
    "year" : 1999
  }
}
myfamily

{'person1': {'name': 'Nese', 'year': 2006},
 'person2': {'name': 'Mahmud', 'year': 2001},
 'person3': {'name': 'Ozde', 'year': 1999}}

In [61]:
myfamily.items()

dict_items([('person1', {'name': 'Nese', 'year': 2006}), ('person2', {'name': 'Mahmud', 'year': 2001}), ('person3', {'name': 'Ozde', 'year': 1999})])

In [63]:
myfamily.get("person1")

{'name': 'Nese', 'year': 2006}

In [65]:
# we can even get the values inside the dictionary that is inside a value
# this took person 1 as a key and got its value:  {'name': 'Nese', 'year': 2006}
# and then it used name as a key inside that nested dictionary to get    Nese

myfamily.get("person1").get("name")

'Nese'

In [66]:
myfamily.get("person1").update({"sex": "female"})
myfamily

{'person1': {'name': 'Nese', 'year': 2006, 'sex': 'female'},
 'person2': {'name': 'Mahmud', 'year': 2001},
 'person3': {'name': 'Ozde', 'year': 1999}}

### in , not in

works as boolean True or False
-   works in strings, lists, and dictionaries

In [67]:
# example
"e" in "hello"

True

In [68]:
"e" not in "hello"

False

In [69]:
"a" in "hello"

False

In [70]:
"a" not in "hello"

True

In [71]:
1 in [1,2,3,4,5]

True

In [72]:
6 in [1,2,3,4,5]

False

In [73]:
2 in (2,3,4)

True

### using in, not in  inside a dictionary

In [74]:
dict_4

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [75]:
# as you can see there is a "one" in dict_4, why is it giving false?

"one" in dict_4

False

In [76]:
# because using in, not in uses it for the keys inside a dictionary only

1 in dict_4

True

In [77]:
# to search in dictionary values, we need to change location of search

"one" in dict_4.values()

True

In [78]:
# now lets see how we can search inside a nested dictionary

myfamily

{'person1': {'name': 'Nese', 'year': 2006, 'sex': 'female'},
 'person2': {'name': 'Mahmud', 'year': 2001},
 'person3': {'name': 'Ozde', 'year': 1999}}

In [81]:
# as you can see we change the location
# but this only reaches the keys in the nested dictionary

"name" in myfamily.get("person1")

True

In [83]:
# to get to the values of the nested dictionary

"Nese" in myfamily.get("person1").values()

True