# Tuples

Tuples are kind of like a list:
-   they are separated by commas, REQUIRES AT LEAST ONE COMMA
-   They can be indexed and sliced, they are iterable
-   However they are inmutable, meaning they cannot be changed, therefore they are more secure

This is why they are way faster than lists and more secure

Tuples are formed using tuple("xyz")
-   or ("xyz",)
-   not["xyz"]
-   they can also be formed without paranthesis, you could just write in "xyz", "abc"

In [1]:
print(tuple("mahmud"))

('m', 'a', 'h', 'm', 'u', 'd')

In [2]:
name = "mahmud"
print(tuple(name))

('m', 'a', 'h', 'm', 'u', 'd')

In [3]:
type(tuple(name))

tuple

In [4]:
# tuple must be iterable, so you can place a list inside a tuple 

tuple([1,2,3])

(1, 2, 3)

In [5]:
# see without a comma it reads as a string

type(("mahmud"))

str

In [7]:
# however with a comma it becomes a tuple

type(("mahmud",))

tuple

In [8]:
type(("mahmud", "apaydin"))

tuple

In [9]:
tuple("mahmud")

('m', 'a', 'h', 'm', 'u', 'd')

In [11]:
type("xyz",)

str

In [13]:
tuple_1 = 1, "mahmud", True
tuple_1

(1, 'mahmud', True)

In [14]:
type(tuple_1)

tuple

In [16]:
# defining a variable like this also creates a tuple

name_1 = "mahmud", "yusuf"
name_1

('mahmud', 'yusuf')

### Adding and Multiplying Tuples

In [17]:
# you can add tuples together

("mahmud", "apaydin") + ("talha",)

('mahmud', 'apaydin', 'talha')

In [18]:
# you can also multiply tuples together
("mahmud", "apaydin") * 2

('mahmud', 'apaydin', 'mahmud', 'apaydin')

### index()

In [19]:
tuple_1

(1, 'mahmud', True)

In [20]:
tuple_1[0]

1

In [21]:
tuple_1[1][-1]

'd'

In [22]:
"ali", "mehmet" + "ali"

('ali', 'mehmetali')

In [23]:
# commas seperate function parameters inside a function
# without a function they seperate either tuples and lists

tuple("dada", "mama")

TypeError: tuple expected at most 1 argument, got 2

In [25]:
# thats why with a tuple() function you should use double paranthesis

tuple(("dada", "mama"))

('dada', 'mama')

### range()

range creates a tuple or list of the parameters you define
-   range(x,y,z) will start at x, x included, and end at y-1, so y is not included
-   z defines step
-   use ranges inside of a list or tuple to return all the values you want
-   produces iterable

In [27]:
range(4,15)

range(4, 15)

In [28]:
tuple(range(4,15))

(4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [29]:
list(range(4,15))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [32]:
# value after second comma determines step
# so this creates a tuple, starting from 1, jumping 2 values every time, and ending at 13 because 14 is not part of the step


tuple(range(1,15,2))

(1, 3, 5, 7, 9, 11, 13)

In [33]:
# writing a bigger start and smaller stop with a -1 step will list or tuple reverse
tuple(range(15,3,-1))

(15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4)

In [35]:
# also works with negative starts and stops
tuple(range(-5,6))

(-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5)

In [37]:
# you can even index the tuple at the end

tuple(range(-5,6))[2]

-3

In [40]:
potpori = (1, 3.14, True, [1,2,3], (4,5,6), "Mahmud")

In [41]:
potpori

(1, 3.14, True, [1, 2, 3], (4, 5, 6), 'Mahmud')

we can index a list inside the tuple to then use it as a list and append a new value into the list

In [42]:
potpori[3]

[1, 2, 3]

In [43]:
potpori[3].append(4)

In [44]:
potpori

(1, 3.14, True, [1, 2, 3, 4], (4, 5, 6), 'Mahmud')

you can see above that the potpori tuple is now edited because of the list change in it

### .index()

index method shows which index the value is in

In [45]:
potpori.index(3.14)

1

### .count()

count method shows how many of the value you put in there are

In [48]:
potpori.count("Mahmud")

1

### Task

ask user to enter 2 numbers, if numbers are int add them

### Solution

In [65]:
x = input("Please enter your first number")
y = input("Please input a second number")

if x.isdecimal() and y.isdecimal():        #we can use is numeric to get type
    print(int(x) + int(y))                          # but we still have to define that it is an int here
else:
    print("please enter an integer value")

7