In [1]:
# python reads line by line in order inside a block

# example

x = "mahmud"
y = x
x = "apaydin"
print(x)
print(y)

apaydin
mahmud

## SUMMARY

    \n new line
    \b backspace one character
    \t includes one tab space between

    round(x,y) rounds the number x to y decimal place

    == equal to
    != not equal to
    >= Greater than or equal to
    <= Less than or equal to
    
    ASCI Codes
    ord() gives ASCI value referring to character
    chr() gives character referring to ASCI value

## Task

write a code that lets user input their weight (kg) and height (m) to find their bmi

In [45]:
weight = float(input("Please enter your weight in kgs"))
height = float(input("Please enter your height in m"))
BMI = weight/(height ** 2)
print(BMI)

29.054752066115704

## Escape Sequences

In [6]:
# sometimes we have to use characters as a regular character that is irrelevant to the function
# if we run the code normal we will get an error

# example
print('I'm a python student')

SyntaxError: unterminated string literal (detected at line 5) (1881571538.py, line 5)

In [7]:
# to fix this, we can write a backslash before the character we want seen as a regular character to fix the problem

# example
print('I\'m a python learner')

I'm a python learner

In [8]:
# you can also use \n anywhere inside a print function to continue at a new line

# example

print("my name is mahmud \nIm a python student")

my name is mahmud
Im a python student

In [9]:
# defining parameter as sep="\t" leaves a full tab space instead of space

print("apple", "banana", "ice", sep="\t")

apple	banana	ice

In [10]:
# or you can use it inside the print function

print("my name is mahmud \tIm a python student")

my name is mahmud 	Im a python student

In [12]:
# a parameter as sep="\b" deletes one character from the end of the printed things

print("apple", "banana", "ice", sep="\b")

# it does not remove an end character from ice since there is no separator after it

# however we can end the print function with a end="\b" to get that effect
print("apple", "banana", "ice", sep="\b", end="\b")

applbananice
applbananic

In [13]:
# you can also use it in a string function
# example
# you can use this code to fix faulty data,eg. a huge data set with names where each name ends in "?"


name = "mahmud APAYDIN\b"
print(name)

mahmud APAYDI

In [14]:
name = "mahmud APAYDIN\b\b"
print(name)

mahmud APAYD

In [16]:
# if you put an r in front of your string, it cancels all escape sequences within your string and counts as regular character

print(r"mahmud apaydin\b\b")

mahmud apaydin\b\b

## round() function

In [17]:
# this function is used to round
# example

round(13.8)

14

In [18]:
round(12.1)

12

In [19]:
pi = 3.14
round(pi)

3

In [20]:
# for numbers that are between 2 numbers, round() will round to the nearest even number
# example

print(round(12.5))
print(round(13.5))

12
14

In [21]:
# you can place a comma and then a number inside the function after your rounding number to 
# show how many decimal places you want to round

round(13.782,1)

13.8

In [22]:
round(13.782,4)

13.782

In [23]:
round(13.782,0)

14.0

In [24]:
# you can also round to negative spaces meaning right side of decimal point

round(140, -2)

100

In [25]:
round(190,-2)

200

# Comparison Operators

In [28]:
print(5 >4)
# these operators come out as boolean results

True

In [27]:
print(4 < 3)

False

In [29]:
# when comparing two things to see if they are equal, use ==
print(7==7)

True

In [30]:
# when comparing two things to see if they are INEQUAL, use !=

print(7 != 9)

True

In [31]:
print(7 >= 6)
print(7 >= 7)
print(7 >= 8)

True
True
False

In [32]:
# comparing string values is based on ASCII code values
# it compares the first character, if they are same it moves to next character, and goes on

print("feda" > "fener")

False

In [35]:
# to find these ASCII values, we can use 2 functions. chr() and ord()
# chr() finds the character based on ASCII value you put in
# ord("") finds the ASCII value of the character you put in

# example

print(chr(100))

print(ord("d"))

d
100

In [37]:
# my name in ASCII
print(ord("m"),ord("a"),ord("h"),ord("m"),ord("u"),ord("d"))

109 97 104 109 117 100

# Boolean

In [38]:
# whenever there is a single character inside the string boolean, it will be true 
bool("mahmud")

True

In [39]:
bool("?")

True

In [41]:
bool("")

# this is false because there is not a single character inside the string

False

In [42]:
# for integers any number other than 0 will be true
bool(35)

True

In [43]:
bool(0)

False

In [44]:
bool(-2)

True

In [ ]:
print("mo", end)