# Lists

-   List values are separated by commas
-   len() is used to count characters in list
-   list() or [] with nothing in it is an empty list

In [ ]:
# lists can be created using two functions

list()    # list function lists every single character and has to be iterable, so no integers
&
[]        # [] function is more widely used, lists separated by commes, ex ["c", 4, False, 9]

In [28]:
# list() must be iterable meaning it has to be able to be indexed

list_1 = list("mahmud")

In [10]:
# len() function before a list function can tell us how many characters the list is made up of

len(list_1)

6

In [6]:
list(str_1)

['m', 'a', 'h', 'm', 'o', 'o', 'o', 'o', 'o', 'd', 'i', 'e']

In [7]:
type(list_1)

list

In [8]:
print(type(list_1))

<class 'list'>

In [9]:
str(list_1)

"['m', 'a', 'h', 'm', 'u', 'd']"

In [12]:
len(str(list_1))


# this is 30 because every single character including brackets and commas are included

30

In [14]:
list_2 = ["mahmud"]

In [15]:
len(list_2)

1

In [16]:
list_2

['mahmud']

In [19]:
list(list_2)

['mahmud']

In [20]:
list("mahmud")

['m', 'a', 'h', 'm', 'u', 'd']

In [21]:
len(list("mahmud"))

6

In [22]:
["mahmud"]

['mahmud']

In [23]:
empty_list = list()

In [24]:
empty_list

[]

In [25]:
empty_list = []
empty_list

[]

In [26]:
# this is 1 because of the one string

list_3 = ["man, bob, john, sam"]
len(list_3)

1

In [27]:
# this is 4 because of 4 seperated by comma strings
list_4 = ["man", "bob", "john", "sam"]
len(list_4)

4

In [29]:
# putting a [] list inside a list() function also makes it iterable

list([1, 2, 3, 4])

[1, 2, 3, 4]

In [68]:
list_5 = [5, 6.14, False, "mahmood", [4,5] ]
list_5

[5, 6.14, False, 'mahmood', [4, 5]]

In [32]:
# since we made list_5 with brackets each comma separated value is part of the list, including the list inside
# to return the list [4,5] inside list_5, we can retrieve it using indexing and slicing at the end

list_5[-1]

[4, 5]

In [33]:
# to retrieve the value inside the list inside the list, we can further index and slice

list_5[-1][0]

4

In [69]:
# to retrieve the h under mahmood in the list

list_5[-2][2]

'h'

we can even retrieve the period from an float, but we have to make it into a string first

In [70]:
list_5

[5, 6.14, False, 'mahmood', [4, 5]]

In [72]:
str(list_5[1])[1]

'.'

we can also use lists in arithmetic operations

In [73]:
list_5[0] ** 2

25

In [74]:
num_list = [16, 25, [12, 14, 18], 27, 36]
num_list

[16, 25, [12, 14, 18], 27, 36]

we can change a single value in a list using indexing

In [75]:
num_list[0] = 9
num_list

[9, 25, [12, 14, 18], 27, 36]

In [77]:
num_list[-1] = "mahmud"
num_list

[9, 25, [12, 14, 18], 27, 'mahmud']

In [80]:
# when we tried to change index 3, which is 27, into 28, 29, it changed it into (28, 29) which is a tuple

num_list[3] = 28, 29
num_list

[9, 25, [12, 14, 18], (28, 29), 'mahmud']

you can add lists together into one list

In [81]:
[1, 2, 3] + ["mahmud", "apaydin"]

[1, 2, 3, 'mahmud', 'apaydin']

you can also multiply lists using arithmetic operators and integers

In [82]:
[1, False] * 3

[1, False, 1, False, 1, False]

In [84]:
list_6 = [1] * 10
list_6

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [86]:
list_6[5:] = [2] * 5
list_6

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2]

In [89]:
# here we are replacing the first 3 values into 4 values

list_6[:3] = [4] * 4
list_6

[4, 4, 4, 4, 4, 4, 1, 1, 2, 2, 2, 2, 2]

In [93]:
# here we replaced the first three values with 1, 2

list_6[:3] = 1, 2
list_6

[1, 2, 1, 1, 2, 2, 2, 2, 2]

# Basic Operations with Lists

In [94]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

### append() which means to add

In [96]:
# using the append method, we can add values to the end of our lists
# I ran it two times thats why theres 2 6s
numbers.append(6)
numbers

[1, 2, 3, 4, 5, 6, 6]

In [99]:
numbers

[1, 2, 3, 4, 5, 6]

In [100]:
numbers.append([7, 8])
numbers

[1, 2, 3, 4, 5, 6, [7, 8]]

### insert()

insert() method inserts a new value into the list into the index you assign it to

In [105]:
numbers_2 = [1, 4, 9 ,16, 25]
numbers_2

[1, 4, 9, 16, 25]

In [106]:
# first you define index, and then what value you want 
# note that nothing in the list is deleted or replaced, they are just added

numbers_2.insert(1, "mami")
numbers_2

[1, 'mami', 4, 9, 16, 25]

In [107]:
# strings, lists are iterable
# int, float, bool are NOT iterable

# strings are immutable
# lists are mutable

### remove()

remove function removes the first occurence of the value you give it
-   gives an error if it cant find that value

In [108]:
numbers_3 = [1, 2, 3, 4, 5, 6, 7]
numbers_3

[1, 2, 3, 4, 5, 6, 7]

In [109]:
numbers_3.remove(x)

NameError: name 'x' is not defined

In [111]:
numbers_3.remove(1)

ValueError: list.remove(x): x not in list

In [112]:
numbers_3

[2, 3, 4, 5, 6, 7]

In [118]:
numbers_4 = [1,2,4,4,5,3,3,2,7,4,2,3,1,]
numbers_4

[1, 2, 4, 4, 5, 3, 3, 2, 7, 4, 2, 3, 1]

In [119]:
# see it only removes the first occurence of the value you put in

numbers_4.remove(3)
numbers_4

[1, 2, 4, 4, 5, 3, 2, 7, 4, 2, 3, 1]

### sort()

sort() function sorts the contents of the list in order from smallest to larges BY DEFAULT

In [122]:
numbers_4.sort()
numbers_4

[1, 1, 2, 2, 2, 3, 3, 4, 4, 4, 5, 7]

In [123]:
# since reverse = False is a boolean by default sorting in chronological order
# reverse = True will sort the contents from greatest to smallest

numbers_4.sort(reverse = True)
numbers_4

[7, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1]

In [127]:
# a list with int and str can not be sorted
# but a list with boolean float and int can be sorted because False= 0, and True = 1

mix = [1,5,7,True, False, 3.14]
mix

[1, 5, 7, True, False, 3.14]

In [128]:
mix.sort()
mix

[False, 1, True, 3.14, 5, 7]

In [129]:
# a list with just strings can also be sorted because of their ASCII codes

names = ["Mahmud", "apaydin", "Nur", "Nese"]
names.sort()
names

['Mahmud', 'Nese', 'Nur', 'apaydin']

In [132]:
# key function inside a sort() allows you to add a formula into the sorting
# for example, sort(key = str.lower), will sort them based on thinking all strings are lowercase
# so it first thinks of all the strings as lowercase, and then sorts them
# we dont open close a paranthesis because we are not calling the lower function, we are just using the function

names.sort(key = str.lower)
names

['apaydin', 'Mahmud', 'Nese', 'Nur']

In [133]:
# now we can use a combination of them inside the sort() function
# lets use fruits

fruits = ["banana", "Orange", "Kiwi", "cherry"]
fruits.sort(key = str.lower, reverse = 1)
fruits

['Orange', 'Kiwi', 'cherry', 'banana']

### pop()

pop function removes and returns a given index, by default it removes the last content of the list

In [134]:
numbers_4

[7, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1]

In [135]:
# see it returned us the last content when left empty

numbers_4.pop()

1

In [137]:
# and when we print our list again, we can see the last 1 is removed

numbers_4

[7, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1]

In [140]:
# here we are returning and removing the 5th index

numbers_4.pop(5)

3

the difference between .remove() and .pop() is that:
-   remove only remvoes the index without returning it
-   pop removes and returns the index when code is ran

In [139]:
numbers_4

[7, 5, 4, 4, 4, 3, 2, 2, 2, 1]

In [141]:
print(numbers_4.remove(7))
print(numbers_4.pop(2))

None
4

 if you use .remove() when redefining a list, you will get an empty list because the return of .remove() is none

### clear()

clears all contents of the list by default, but the list is like a box, its still there

In [143]:
numbers_4

[5, 4, 4, 2, 2, 2, 1]

In [144]:
numbers_4.clear()
numbers_4

[]

### del
-   del comes to the front of the list

In [149]:
numbers_3

NameError: name 'numbers_3' is not defined

In [148]:
# completely deletes the list

del numbers_3

NameError: name 'numbers_3' is not defined

In [147]:
numbers_3

NameError: name 'numbers_3' is not defined

In [150]:
# you can also delete more than one at a time

del numbers_2, numbers_4

In [151]:
numbers_2
numbers_4

NameError: name 'numbers_2' is not defined

### count()

counts how many of the given value are inside the list

In [153]:
numbers_2 = [1,5,2,4,3,7,8,6,5,4,3,2,1,5,7,8,9,6,5,4]
numbers_2

[1, 5, 2, 4, 3, 7, 8, 6, 5, 4, 3, 2, 1, 5, 7, 8, 9, 6, 5, 4]

In [156]:
# len counts how many contents there are in the list

len(numbers_2)

20

In [157]:
# count() returns how many of a given value are in the list

numbers_2.count(1)

2

In [160]:
# if there is none of the value you want to return it will give 0
# counts true and false as 1 and 0 respectively
numbers_2.count(15)

0

In [161]:
aa = [1,2,3,4,1,[1,2],[2,3]]
aa

[1, 2, 3, 4, 1, [1, 2], [2, 3]]

In [163]:
# if there is a list inside of the list, it will not count the contents inside the list in the list
# see it only gave back 2 because it doesnt count the 2's inside the lists in the list
aa.count(1)

2

In [165]:
# however I can count the list inside the list as one
# as is below

aa.count([1,2])

1

### extend()

-   works a bit like append()
-   but can add multiple contents into a list, without forming another list inside the list
-   append can only add single items into list, counting a list as 1 item
-   when extend([x,y,z])is used, x, y, z will be added to the list as 3 separate items
-   extend() has to be iterable, and it will break down strings to different characters to add to lsit

In [4]:
num = [1,2,3,4,5]
num

[1, 2, 3, 4, 5]

In [5]:
num.append(6)
num

[1, 2, 3, 4, 5, 6]

In [6]:
num.append([7,8,9])
num

[1, 2, 3, 4, 5, 6, [7, 8, 9]]

In [7]:
num.extend([7,8,9])
num

[1, 2, 3, 4, 5, 6, [7, 8, 9], 7, 8, 9]

In [9]:
num.remove([7,8,9])
num

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
num.extend("mami")
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'm', 'a', 'm', 'i']

### join()

-   concanates the items in the list
-   used by "".join(list)

In [12]:
names = ["mahmud","talha", "apaydin"]
names

['mahmud', 'talha', 'apaydin']

In [13]:
"".join(names)

'mahmudtalhaapaydin'

In [14]:
# recall that split function splits a string by defined character and makes it into a list

"this list is super cool".split()

['this', 'list', 'is', 'super', 'cool']

In [16]:
# we first split it and then joined it

"".join("this list is super cool".split())

'thislistissupercool'

here im going to split the string by "?" and then join it back together

In [18]:
"th?is li?st is sup?er co?ol".split("?")

['th', 'is li', 'st is sup', 'er co', 'ol']

In [19]:
"".join("th?is li?st is sup?er co?ol".split("?"))

'this list is super cool'

### Task

1- write a program to promt for a score between 0.0 and 100. If the score is out of range, print an error. If the score is between 0.0 and 100, print a grade using the following table: Score guide
-   90 and above AA
-   80 and above BA
-   70 and above B
-   60 and above C
-   50 and above D
-   49 and below F

if the user enters a value out of range, print a suitable error message

### Solution

In [65]:
x = float(input("Please Enter Your Grade"))

if x <= 100 and x >= 90:
    grade = "AA"
elif x < 90 and x >= 80:
    grade = "BA"
elif x < 80 and x >= 70:
    grade = "B"
elif x < 70 and x >= 60:
    grade = "C"
elif x < 60 and x >= 50:
    grade = "D"
elif x < 50 and x >= 0.0:
    grade = "F"
else:
    print("Re Enter a Valid Grade Between 0.0 and 100")

Re Enter a Valid Grade Between 0.0 and 100

### Task

2- Ask user to enter a name. Print True if all characters are uppercase or all characters are lowercase. Print False if uppercase and lowercase letters are used together.

### Solution

In [72]:
name = input("Please enter your name")
if name.isupper() or name.islower():
    print("True")
else:
    print("False")

False

### Task

3- Ask user to enter a number.
-   if number is divisible by 3, print Tech
-   if number is divisible by 5, print Pro
-   if number is divisible by both 3 and 5, print Techpro
-   if number is divisible  by neither, print number itself

### Solution

In [84]:
num = int(input("please enter a number"))
if num % 3 == 0 and num % 5 == 0:
    print("Techpro")
elif num % 3 == 0 and num % 5 != 0:
    print("Tech")
elif num % 3 != 0 and num % 5 == 0:
    print("Pro")
else:
    print(num)

16