# Data Types

In [18]:
"anything inside quote marks are strings"    #str

'anything inside quote marks are strings'

In [19]:
print(type("Mahmud"))   # I can show what the type of variable is by writing type before it

<class 'str'>

In [20]:
type("Mahmud")    # I can even see it is a string just by writing type without print

str

In [21]:
type("4")  # even when there is a number inside quotation marks, it is a string

str

In [22]:
type(4)   # if there are no quotation marks around a number, it will be processed as an integer

int

###### example

In [23]:
age = 32

In [24]:
type(age)  # we can see what type of variable age is

int

In [25]:
pi_number = 3.14

In [26]:
type(pi_number)

float

In [27]:
type(False)  # since python is case sensitive, booleans should start with a capital

bool

In [28]:
type(True)

bool

In [ ]:
type(true) # lower case starting booleans will not work

In [30]:
name_1 = "Moe"
age_1 = 22

In [32]:
type(name_1) # writing type on different lines will only get the last line,
type(age_1)

int

In [34]:
print(type(name_1)) # u can find both of them by printing both
print(type(age_1))

<class 'str'>
<class 'int'>

# Type Conversion

### changing all types to str

In [41]:
age = 32 # here I can change this int variable to a str by using str() function
print(type(age))

<class 'int'>

In [36]:
str(age) #like this

'32'

In [37]:
converted_age = str(age) # and then I can define it into a new variable

In [40]:
type(converted_age)
print(type(converted_age))

<class 'str'>

###### example

In [42]:
pi_number = 3.14
converted_pi = str(pi_number)
print(type(converted_pi))

<class 'str'>

In [43]:
converted_pi

'3.14'

In [45]:
pi_number # when using anything other than jupyter, you have to write print in front of it

3.14

In [47]:
x = False
y = True

In [50]:
str(x)  # booleans can also be converted to strings

'False'

In [49]:
str(y)

'True'

## Converting String to Float or Integer

In [51]:
num_1 = "35"
num_2 = "thirty"

In [53]:
int(num_1)  # the function int will turn a string variable to an integer

35

In [54]:
int(num_2)  # however this would not work because it does not look like a number

ValueError: invalid literal for int() with base 10: 'thirty'

In [55]:
num_3 = "3.14"

In [56]:
type(num_3)

str

In [57]:
float(num_3)

3.14

In [58]:
print(type(float(num_3)))

<class 'float'>

In [59]:
num_3 = float(num_3) # in here a renamed num_3 into a float variable and it has been redefined

In [61]:
type(num_3) # see now it is redefined as a float

float

In [64]:
int(4.9999) # using int on a number with multiplle sigfigs only writes down its integer

4

In [63]:
int(-4.5)

-4

In [72]:
# unless the number reaches 16 decimal places which then rounds up
int(4.99999999999999999)

5

## Booleans converting to Int or Float

In [74]:
x = False
y = True
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

In [76]:
int(x)  # false variables are dummy variables which equal 0

0

In [77]:
int(y) # true variables are dummy variables which equal 1

1

In [78]:
float(x)

0.0

In [79]:
float(y)

1.0

In [80]:
print(type(x), type(y))

<class 'bool'> <class 'bool'>

In [81]:
# quick note: you can give values to more than one variable in order
x,y,z = "mahmud", "nese", "apaydin"
print(x)
print(y)
print(z)

mahmud
nese
apaydin

In [83]:
jan = mar = may = jul = aug = oct = dec = 30

In [84]:
print(jan, mar, may , jul, aug, oct, dec)

30 30 30 30 30 30 30