### print()

In [1]:
print("hello world")

hello world

In [3]:
print("hello " + "world")

hello world

In [4]:
print("hello", "world")

hello world

In [6]:
print("hello" * 10)

hellohellohellohellohellohellohellohellohellohello

### Variables

In [7]:
a = 10
b = 20
c = 30

In [8]:
a + b + c

60

In [9]:
print(a,b,c)

10 20 30

In [10]:
ahmet = "boss"
mehmet = "worker"

In [11]:
ahmet,mehmet = mehmet, ahmet

In [12]:
mehmet

'boss'

In [13]:
print(ahmet, mehmet)

worker boss

In [15]:
print("Ahmet = " + ahmet, "Mehmet = " + mehmet, sep = "\n")

Ahmet = worker
Mehmet = boss

### Data Types

In [16]:
ahmet = "boss"

In [18]:
print(type(ahmet))

<class 'str'>

In [19]:
print(type(3.14))

<class 'float'>

In [20]:
a = [5,6,7]

In [21]:
a

[5, 6, 7]

In [22]:
print(type(a))

<class 'list'>

### Type Conversion

In [23]:
type(35)

int

In [24]:
str(35)

'35'

In [25]:
type(str(35))

str

In [26]:
x = True
y = False
print(type(x))

<class 'bool'>

### Arithmetic Operations

In [27]:
print(3+5)

8

In [28]:
14/3

4.666666666666667

In [29]:
14/2

7.0

In [30]:
2**3

8

In [31]:
22 // 7

3

In [32]:
22 % 3

1

In [39]:
x = 5
x = 5 + 3
x = x + 3

x += 3

print(x)

14

In [40]:
_

1

In [41]:
3424535+42524

3467059

In [42]:
_ -1

3467058

### print() functions

In [43]:
 print("apple", "banana", "orange")

apple banana orange

In [44]:
 print("apple", "banana", "orange", sep = "")

applebananaorange

In [45]:
 print("apple", "banana", "orange", sep = "\n")

apple
banana
orange

In [46]:
 print("apple", "banana", "orange", sep = "    ")

apple    banana    orange

In [47]:
 print("apple", "banana", "orange", sep = "\t")

apple	banana	orange

In [48]:
 print("apple", "banana", "orange", sep = "\b")

applbananorange

In [51]:
print(*"mahmud")


# putting an asteriks in front of the printed thing splits it up to characters while printing

m a h m u d

In [50]:
print("m", "a", "h", "m", "u", "d")

m a h m u d

this asterik is very useful because you can split a word up and add periods or such in between the spaces like the example below

In [53]:
print(*"TSOF ", sep = ".")

T.S.O.F.

In [54]:
print(*"abcdefghijklmnopqrstuvwxyz", sep = "--")

a--b--c--d--e--f--g--h--i--j--k--l--m--n--o--p--q--r--s--t--u--v--w--x--y--z

### Escape Sequences

In [55]:
print("I'm a "student"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3896151741.py, line 1)

In [56]:
print("I'm a \"student\"")

I'm a "student"

In [57]:
print(r"I'm a \"student\"")

I'm a \"student\"

### ***round()***

In [58]:
round(26.1)

26

In [59]:
round(45.68459, 0)

46.0

In [60]:
round(2344.3242, 1)

2344.3

In [61]:
round(130.435, -2)

100.0

### ***Comparison Operators***

In [62]:
9 >4

True

In [63]:
6 <3

False

In [64]:
7 == 7

True

In [65]:
7 != 8

True

In [66]:
7 ==8

False

In [67]:
a = 20
b = 20
a is b

True

### Boolean

In [68]:
bool("134")

True

In [69]:
bool()

False

In [70]:
bool(())

False

In [71]:
bool(True)

True

In [72]:
bool(False)

False

In [73]:
bool("False")

True

In [74]:
bool(not True)

False

### Logic Expressions

the order is not, and, or

In [75]:
5 or 9 or 4

5

In [76]:
5 and 9 and 3

3

In [78]:
True and 4 or "" and not False

4

### String

In [79]:
"mahmud"

'mahmud'

In [80]:
"mahmud"[0:3]

'mah'

In [81]:
"mahmud"[5:1:-1]

'dumh'