### format and f string

In [5]:
name = "mahmud"
surname = "apaydin"
age = 22

greeting = ("my name is " + name + " " + surname + " " + "and \nI'm " + str(age) + " years old.")
print(greeting)

my name is mahmud apaydin and
I'm 22 years old.

Theres a much easier way to do this using formats in strings

In [8]:



name = "mahmud"
surname = "apaydin"
age = str(22)

print("My name is {} {} and \nI'm {} years old.".format(name, surname, age))

My name is mahmud apaydin and
I'm 22 years old.

In [12]:
# if the format is in a specific order, you can also identify index starting from 0 to the curly bracket
# this will give you the same return


name = "mahmud"
surname = "apaydin"
age = str(22)

print("My name is {1} {2} and \nI'm {0} years old.".format(age, name, surname))

My name is mahmud apaydin and
I'm 22 years old.

In [13]:
# you can even give your own parameters for the format and curly brackets

name = "mahmud"
surname = "apaydin"
age = str(22)

print("My name is {a} {s} and \nI'm {a} years old.".format(a=age, n=name, s=surname))

My name is 22 apaydin and
I'm 22 years old.

In [16]:
# do some fun stuff like this


str_1 = "{2}, {1}, and {0}".format("a", "b", "c")
str_2 = "{0}{1}{0}".format("abra", "cad")
print(str_1, str_2, sep = "\n")

c, b, and a
abracadabra

##### F string Method

In [18]:
# f string is the easiest method to do this as you type the exact variable into the curly brackets


name = "mahmud"
surname = "apaydin"
age = str(22)

print(f"My name is {name} {surname} and \nI'm {age} years old.")

My name is mahmud apaydin and
I'm 22 years old.

## **string** methods

In [24]:
print(*greeting, sep= " . ")

M . y .   . n . a . m . e .   . i . s .   . m . a . h . m . u . d .   . a . p . a . y . d . i . n .   . a . n . d .   .
 . I . ' . m .   . 2 . 2 .   . y . e . a . r . s .   . o . l . d . .

In [25]:
print(greeting.upper())

MY NAME IS MAHMUD APAYDIN AND
I'M 22 YEARS OLD.

In [26]:
print(greeting.lower())

my name is mahmud apaydin and
i'm 22 years old.

In [30]:
# you can write a function on multiple lines with different endings


print("bu yaziyi fark etmenizle".upper(), 
      "FARK ETMEMENIZLE".lower(), 
      "hic birsey fark etmedigini".capitalize(), 
      "fARK eDECEKSINIZ".title(),
      sep = "\n")

BU YAZIYI FARK ETMENIZLE
fark etmemenizle
Hic birsey fark etmedigini
Fark Edeceksiniz

In [33]:
print("cekoslavakyalilastirmadikramizdan misiniz?"
      .replace("a", "e")
      .replace("o", "a")
      .replace("e","_")
      .title()
      .split("_"))

['C', 'Kasl', 'V', 'Ky', 'Lil', 'Stirm', 'Dikr', 'Mizd', 'N Misiniz?']

In [34]:
str_1 = "Techpro is the best course in the world."
print(*str_1.swapcase())

t E C H P R O   I S   T H E   B E S T   C O U R S E   I N   T H E   W O R L D .

In [36]:
print(str_1.split("e",maxsplit=3))

['T', 'chpro is th', ' b', 'st course in the world.']

In [38]:
print(*str_1.split("h"), sep = "$\n")

Tec$
pro is t$
e best course in t$
e world.

In [39]:
print(str_1.replace(" ", " $ "))

Techpro $ is $ the $ best $ course $ in $ the $ world.

.join() method lets you add anything to the beginning and end of string while printing. you have to indicate two.

In [41]:
print(str_1.replace(" ", " $ ").join("**"))

*Techpro $ is $ the $ best $ course $ in $ the $ world.*

In [42]:
print(str_1.replace(" ", " $ ").join("*\n*"))

*Techpro $ is $ the $ best $ course $ in $ the $ world.
Techpro $ is $ the $ best $ course $ in $ the $ world.*

In [45]:
# .center() lets you center the string surrounded by characters to total the number of characters you indicate

print(str_1.center(50,"*"))

*****Techpro is the best course in the world.*****

In [47]:
# .ljust and rjust lets you push to the left or right and continue to fill as many characters as you indicate with fill character

print(str_1.ljust(50,"*"))
print(str_1.rjust(50,"*"))

Techpro is the best course in the world.**********
**********Techpro is the best course in the world.

In [48]:
str_2 = str_1.center(50, "*").center(60, "%").ljust(65, "$").rjust(70,"@")

print(str_2)

@@@@@%%%%%*****Techpro is the best course in the world.*****%%%%%$$$$$

In [50]:
# now say i want to strip this
print(str_2.strip("$,@,%,*,"))

Techpro is the best course in the world.

find method finds the character from the left side, rfind finds the character from the right side in terms of index

In [52]:
str_3 = str_1.rfind("the")
str_3

30

you can even give it a start and stop parameter

In [53]:
str_3 = str_1.rfind("the", 15,35)
str_3

30

## **if/elif/else**

In [56]:
x = int(input("Please enter a number between 0 and 25"))
print(f"The number you entered is {x} and ", end = "")
if x < 15:
    print("it is lower than 15")
elif x > 14:
    print("it is higher than or equal to 15")

The number you entered is 0 and it is lower than 15

In [61]:
age = int(input("Please enter your age"))
grade = input("Please enter your grade status").lower()

if age >= 18 and grade == "college" or grade == "graduated":
    print(f"Your age is {age} and you are in {grade}, \nSo you can get your license!")
elif age < 18 or not grade == "college":
    print(f"Your age is {age} and you are in {grade}, \nSo you can not get your license")

Your age is 17 and you are in high school,
So you can not get your license

In [63]:
x = int(input("Please enter a number"))

if x > 0:
    print(f"{x} is a positive number!")
elif x < 0:
    print(f"{x} is a negative number!")
elif x == 0:
    print(f"{x} is neither positive nor negative")

-100 is a negative number!

## Python **Collection** Types
lists, tuples, dictionaries, sets

In [64]:
list1 = []
list1

[]

In [65]:
print(type(list1))

<class 'list'>

In [68]:
list2 = list("alivelideli")
list2

['a', 'l', 'i', 'v', 'e', 'l', 'i', 'd', 'e', 'l', 'i']

In [70]:
list3 = list([1,2,3,4,5])
list3

[1, 2, 3, 4, 5]

In [71]:
print(list2, list3, sep="\n")

['a', 'l', 'i', 'v', 'e', 'l', 'i', 'd', 'e', 'l', 'i']
[1, 2, 3, 4, 5]

In [72]:
list2[4]

'e'

In [73]:
list2 + list3

['a', 'l', 'i', 'v', 'e', 'l', 'i', 'd', 'e', 'l', 'i', 1, 2, 3, 4, 5]

In [75]:
names = ["said", "emre", "omer"]
surnames = ["yaka", "kurt", "aktepe"]

full_name1 = names[0] + " " + surnames[0]
full_name2 = names[1] + " " + surnames[1]
full_name3 = names[2] + " " + surnames[2]

print(full_name1, full_name2, full_name3, sep = "\n")

said yaka
emre kurt
omer aktepe

In [76]:
studenta = ["Ahmet", "Kaya", 2001, [70,80,90]]
studentb = ["George", "Smith", 2006, [56,89,100]]
studentc = ["Michael", "Mann", 2003, [45,10,4]]

In [82]:
resulta = f"{studenta[0]} {studenta[1]} is {2023 - studenta[2]} years old and their grade average is {int((studenta[3][0] + studenta[3][1] + studenta[3][2])/ 3)}!"

In [83]:
print(resulta)

Ahmet Kaya is 22 years old and their grade average is 80!

In [85]:
resultb = f"{studentb[0]} {studentb[1]} is {2023 - studentb[2]} years old and their grade average is {int((studentb[3][0] + studentb[3][1] + studentb[3][2])/ 3)}!" 
print(resultb)

George Smith is 17 years old and their grade average is 81!

In [5]:
# extend can be used to add more iterable values to a list

list_1 = [1, 2, 3, 4, 5, 6]
list_2 = [7, 8, 9]

list_1.extend(list_2)

print(list_1)
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[7, 8, 9]

In [8]:
list_1.extend([10,11,12])
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 10, 11, 12]

In [6]:
# extend value has to be iterable
# otherwise you will get an error

list_1.exted(20)

AttributeError: 'list' object has no attribute 'exted'

In [14]:
list_1.extend([13])
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 10, 11, 12, 13, 13, 13, 13, 13, 13]

In [16]:
"***".join(list_1)

TypeError: sequence item 0: expected str instance, int found

In [19]:
# join is used to join iterable items in a list by whatevr you wish

list_1 = ["apple", "banana" , "orange"]
"cock".join(list_1)

'applecockbananacockorange'

In [24]:
# to insert a value into a list, you have to use the .insert(index, value you want to put in that index)

list_1.insert(1, "kiwi")
list_1

['apple', 'kiwi', 'banana', 'orange']

In [26]:
# max and min functions find max and min in a list

a = [1, 20, 24524, 4983527, 2343, 4325, 435623, 5632]
max(a)
min(a)

1