### For Loops

In [ ]:
for element in sequence:
    # code block to be repeated

In [2]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [8]:
fruits = ["apple", "orange","banana"]

for fruit in fruits:
    print(fruit,"faydalidir")

apple faydalidir
orange faydalidir
banana faydalidir

In [9]:
shopping_list = ["bread", "water", "meat", "eggs"]

for x in shopping_list:
    print("Don't forget to buy:", x)

Don't forget to buy: bread
Don't forget to buy: water
Don't forget to buy: meat
Don't forget to buy: eggs

In [10]:
numbers = [1,2,3,4,5,6,7,8,9]
total = 0  #inital value

for num in numbers:
    total += num   # total = total + num

print(total)

45

if we use len, it counts all characters including spaces commas etc

In [12]:
len("Hello, World!")

13

To find number of letter characters only, we can use this

In [11]:
message = "Hello, World!"
hesapla = 0
for harf in message:
    if harf != " " and harf != "," and harf != "!":
        hesapla += 1
print(hesapla)

10

### Dictionary loops

In [13]:
student_grades = {"ahmet": "A","mehmet":"B", "selami":"C"}

for name, grade in student_grades.items():
    print("student name:", name, "student grade:", grade)

student name: ahmet student grade: A
student name: mehmet student grade: B
student name: selami student grade: C

Multiplication table

In [15]:
for x in range(1,11):
    for y in range(1,11):
        print(x * y, end = "\t")
    print(end = "\n")

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

### break/continue

In [17]:
# as you can see when continuing for multiples of 5, it does not get to the print function because it continues the for loop with the next i

for i in range(1,21):
    if i%5 == 0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19