### filter()

filter function only returns back the true items inside it.
by default, if you write None first, it will have no function to go by

In [2]:
filter(None,"Hello" )

In [3]:
list(filter(None, "hello"))

['h', 'e', 'l', 'l', 'o']

In [5]:
list(filter(None, [0,1,2,[], "hello", True, False, "", 5.4]))

[1, 2, 'hello', True, 5.4]

In [6]:
def odd_num(x):
    if x % 2 == 1:
        return True
    elif x % 2 == 0:
        return False

since defined a function as returning odd numbers as true, filter will filter and show only the odd numbers

In [8]:
list(filter(odd_num, [1,2,3,3,5,6,7,8,9]))

[1, 3, 3, 5, 7, 9]

In [13]:
### here we defined a function that returns True if it has 5 iterables


def len_1(x):
    return True if len(x)==5 else False

In [10]:
len_1("mahmud")

False

In [11]:
len_1([1,2,3,4,5])

True

In [12]:
len_1("canan")

True

In [15]:
# now we can use that function to filter and return only the items that have 5 characters in it

list_1 = ["canan", "burak", "mahmud", "said", "hasan"]

list(filter(len_1,list_1))

['canan', 'burak', 'hasan']

### Creating Functions with ***Lambda***

In [28]:
# we had a way of creating functions with def
# for example

def squared(x):
    return x ** 2

squared(5)

25

In [17]:
# now lets check out how we can form a function using lambda

In [18]:
lambda x : x ** 2

In [19]:
# to use lambda function you have to put it in paranthesis and then add as many arguemnts in the paranthesis as there are parameters in the func
# for example, this one has one parameter so it will have one argument

(lambda x : x ** 2)(5)

25

In [20]:
def mean(x,y):
    return (x + y)/2

In [21]:
mean(2,5)

3.5

In [24]:
(lambda x,y : (x+y)/2)(2,5)

3.5

now we made a lambda and converted it to a variable to use as a function

In [25]:
mean = (lambda x,y : (x+y)/2)

In [26]:
mean(2,5)

3.5

In [28]:
list(filter(lambda list_1 : len(list_1) == 5, list_1))

['canan', 'burak', 'hasan']

# Palindrome Words
words that are spelled forward and backwards the same way

In [29]:
def palindrome(x):
    return x == x[::-1]

In [35]:
palindrome("mahmud")

False

In [36]:
(lambda name: name == name[::-1])("nalan")

True

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.2-cp311-cp311-macosx_11_0_arm64.whl (10.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 33.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mahmooooodie/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 15.9 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 13.9 MB/s eta 0:00:00
Collecting numpy>=1.21.0 (from pandas)
  Downloading numpy-1.25.0-cp311-cp311-macosx_11_0_arm64.whl (14.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 35.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /Users/mahmooooodie/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.11 are installed in '/Library/Frameworks/Python.framework/Versions/3.11/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.25.0 pandas-2.0.2 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

### Example with large CSV file

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("adult_eda.csv")

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
# here we created a function to give male 0 number and female 1 

df.sex.apply(lambda x : 0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

Try to list all odd numbers in this list

In [20]:
numbers = [1,4,2,4,2,7,8,9,5,4,3,6,7,9,6,4,3,23,4,5]

In [22]:
numbers_odd = list(filter(lambda x: x % 2, numbers ))
print(numbers_odd)

[1, 7, 9, 5, 3, 7, 9, 3, 23, 5]

### map() function

requires a function unlike filter where you could have written None

in filters, it only returned true, in this map, it returns everything

the map fucntion requires a function and then an iterable which it will apply the function to

In [24]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [29]:
squared(4)

16

In [30]:
map(squared , [1,2,3,4,5,6])

we had this squared function from before that squares the given iterable

In [31]:
list(map(squared , [1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36]

bunlarin lenini tek tek karsimiza cikarir

In [32]:
list(map(len, ["mahmud","talha","apaydin"]))

[6, 5, 7]

In [33]:
list(map(str.upper, ["mahmud","talha","apaydin"]))

['MAHMUD', 'TALHA', 'APAYDIN']

In [34]:
numbers = [2,9,6,5,12,11,20]

use maps to find the squares of odd numbers and 2 x even numbers

In [35]:
map(lambda x : x ** 2 if x % 2 else 2 * x, numbers)

In [36]:
list(map(lambda x : x ** 2 if x % 2 else 2 * x, numbers))

[4, 81, 12, 25, 24, 121, 40]

In [42]:
square_of_odd_twice_of_even = lambda x : x ** 2 if x % 2 else 2 * x

In [43]:
def my_map(*args):
    liste = []
    for i in args:
        liste.append(square_of_odd_twice_of_even(i))
    return liste

In [45]:
my_map(2,9,6,5,12,11,20)

[4, 81, 12, 25, 24, 121, 40]

## How to create a function that finds factorial of a number

In [46]:
def fact_while(x):

    multiplyvalue = 1

    while x > 0:
        multiplyvalue *= x    # multiplyvalue * x 
        x -= 1
    return multiplyvalue

In [47]:
fact_while(5)

120

In [48]:
fact_while(0)

1

In [49]:
def fact_for(x):
    multiplyvalue = 1
    for i in range(1, x + 1):
        multiplyvalue *= i
    return multiplyvalue

In [50]:
fact_for(5)

120